<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.caribou.distill-watchdog</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/caribou/conda_envs/distillation_m3/bin/python</string>
        <string>/Users/caribou/distill/scripts/training_watchdog.py</string>
        <string>/Users/caribou/distill/distilled-minillm</string>
        <string>--interval</string>
        <string>60</string>
        <string>--config</string>
        <string>/Users/caribou/distill/configs/watchdog_rules.json</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/caribou/distill</string>
    <key>RunAtLoad</key>
    <false/>
    <key>KeepAlive</key>
    <false/>
    <key>StandardOutPath</key>
    <string>/tmp/distill-watchdog.out</string>
    <key>StandardErrorPath</key>
    <string>/tmp/distill-watchdog.err</string>
</dict>
</plist>
